.doc{
  border: 1px solid hsl(0,0%,80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0%,0%, 0.1);
  padding: 20px;
  text-align: center;
  max-width: 250px;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
}
.doc .card{
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}