.homepage {
  height: 100vh;
  width: 100%;
  background: url("./gptcvrm.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  text-align: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.about-btn,
.login-btn {
  padding: 10px 0;
  min-width: 140px;
  text-align: center;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.about-btn {
  background: crimson;
  color: white;
}

.about-btn:hover {
  background: darkred;
}

.login-btn {
  background: royalblue;
  background: lime;
  width: 200px;
  height: 60px;
  color: white;
}

.login-btn:hover {
  background: navy;
}